<div class="jumbotron text-center">
    <h1>{{ project.title }}</h1>
    <p>{{ project.subtitle }}</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> {{ data.projects.caracteristics }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p> {{ data.projects.start_date }}</p>
    </div>
    <p class="col-md-9">{{ project.period }}</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p> {{ data.projects.languages }}</p>
    </div>
    <div class="col-md-9">
      <span ng-repeat="tag in project.tags">
        <span class="badge">{{ tag }}</span>
      </span>
    </div>
  </div>
  <div class="row" ng-if="project.gitUrl">
    <div class="col-md-3">
      <p> {{ data.projects.git }}</p>
    </div>
    <div class="col-md-9">
      <a ng-href="{{project.gitUrl}}"><i style="font-size:25px;"class="fa fa-github"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3> {{ data.projects.objective }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> {{ project.line1 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> {{ project.line2 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> {{ project.line3 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> {{ project.line4 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img style="width:75%" class="panel panel-default center-block img-responsive" ng-src="img/{{ project.picture2 }}"></img>
    </div>
  </div>


</div>
