<br/>
<div class="col-md-12 col-sm-12">
 <div class="row no-gutter">
  <div class="col-md-4 no-gutter" ng-repeat="p in data.projects.list track by $index">
   <div class="hovereffect" style="padding-left:10px; padding-right:10px;">
    <a ng-href="{{p.link}}">
      <img class="img-responsive panel panel-default" ng-src="img/{{p.picture}}" alt="{{p.picture}}" style="width:100%; max-height:280px; object-fit:cover;">
      <div class="overlay">
        <h2 class="text-center"><i ng-class="p.icon"></i> {{ p.title }}</h2>
        <p ng-bind="p.subtitle"></p>
        <span ng-repeat="tag in p.tags">
          <span class="badge">{{ tag }}</span>
        </span>
      </div>
    </a>
   </div>
  </div>
 </div>
</div>
